# Backend
PORT=3001
JWT_SECRET=super-secret-change-me
JWT_EXPIRES_IN=1d
# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=chirp
DB_PASSWORD=chirp
DB_NAME=chirp
# Microservicio de IA
AI_SERVICE_URL=http://localhost:8000
